html, body, main{
	height: 100%;
	font-family: 'Roboto Mono', monospace;
	background-color: #240935;
}
/*хедер*/
.four{
	border-radius: 10px;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom:1%; 
	margin-top:1%;
	text-align: center;
}
.four ul {
 	display: -webkit-flex; 
 	display: flex;
 	background: #DC143C;
  	padding-left: 5px;
}
.four a {
 	padding: 1em;
  	display: block;
 	color: white;
	background: rgba(255, 155, 170, .3);
}
.four a:hover {background: #FF0033}
/*Первый див osnova*/
.osnova{
	background-color: #6A1EA9;
	border-radius: 10px;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom:1%; 
	margin-top:1%;
}
/*Второй див it*/
.it{
	background-color: #6A1EA9;
	border-radius: 10px;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom:1%; 
	margin-top:1%;
	padding: 2%;
}
.h1{
	color: #EEBEF1;
}
/*Третий див история hist*/
.hist{
	background-color: #6A1EA9;
	border-radius: 10px;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom:1%; 
	margin-top:1%;	
	padding: 2%;
}
.pagg{
	color: #240935;
	font-size: 26px;

}
.pagg:hover{
	background:#EEBEF1;
	box-shadow: 0px, 0px, 100px 10px rgba(238, 170, 241, 0.6);
	transform: scale( 1.1); 
	transition: 1s; 
	border-radius: 15px;
}
/*Четвертый див now*/
.now{
	background-color: #6A1EA9;
	border-radius: 10px;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom:1%; 
	margin-top:1%;	
	padding: 2%;
}
.pic{
	border-radius: 15px;

	border: 10px #6A1EA9;
}
/*Последний див mistake*/
.mictake{
	background-color: #6A1EA9;
	border-radius: 10px;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom:5%; 
	margin-top:1%;	
	padding: 2%;

}
.pic2{
	border-radius: 15px;
	border: 10px #6A1EA9;
}
.pic2:hover{

	transform: scale( 1.5); 
	transition: 1s; 

}
.po{
	color: #EEBEF1;
	font-size: 35px;
}
/*Футер*/
.footer{
	background-color: #6A1EA9;
	border-radius: 10px;
	text-align: center;
	margin-right: 0%;
	margin-left: 0%;
	margin-bottom:0%; 
	margin-top:1%;	
	padding: 2%;

}
.f{
	color: #EEBEF1;

}